**/bin/**
**/obj/**
**/packages/**

**.suo
**.user
**.DotSettings

/build/Output


**.sln.ide
**.sln.GhostDoc.xml
/src/UpgradeLog*.htm
/src/NuGetReferenceSwitcher.VS12old
**/_ReSharper.Caches
**/.vs
